<mat-sidenav-container *ngIf="!isPhone">
  <mat-sidenav #sidenav mode="side" opened="true">
    <nav>
      <ul>
        <li>
          <a [routerLink]="['/favorites/websites']" routerLinkActive="selected">
            <div iconWrapper>
              <mat-icon>grade</mat-icon>
            </div>
            <div textWrapper>
              <label>Favorite websites</label>
              <label class="counter">{{websitesCounter}}</label>
            </div>
          </a>
        </li>
        <li>
          <a [routerLink]="['/favorites/actions-log']" routerLinkActive="selected">
            <div iconWrapper>
              <mat-icon>featured_play_list</mat-icon>
            </div>
            <div textWrapper>
              <label>Actions log</label>
              <label class="counter">{{actionLogsCounter}}</label>
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </mat-sidenav>
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>


<mat-toolbar *ngIf="isPhone" color="primary">
  <button mat-icon-button [routerLink]="['/favorites/websites']" routerLinkActive="selected">
    <mat-icon aria-label="Example icon-button with a heart icon">grade</mat-icon> ({{websitesCounter}})
  </button>
  <button mat-icon-button [routerLink]="['/favorites/actions-log']" routerLinkActive="selected">
    <mat-icon aria-label="Example icon-button with a heart icon">featured_play_list</mat-icon> ({{actionLogsCounter}})
  </button>
</mat-toolbar>
<div contentWrapper mobile *ngIf="isPhone">
  <router-outlet></router-outlet>
</div>

